/*@import url("css/reset.css");*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #c7141777;
  display: flex;
  justify-content: center;
}
.player {
  font-size: 12px;
  color: white;
  position: relative;
}

.iphone {
  width: 350px;
  margin-top: 50px;
  user-select: none;
}

.container {
  position: absolute;
  top: 142px;
  left: 28px;
  width: 293px;
  height: 517px;
  padding: 15px;
  border-radius: 2px;
  background: #3a447a;
}
.statusBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  user-select: none;
}

.statusBarIcons {
  color: white;
  width: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes wifiMove {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.fa-wifi {
  animation: wifiMove 2.1s ease-in-out infinite;
}
.statusBarClock {
  font-size: 13px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 16px;
}
.header i {
  color: gold;
  transition: all 0.1s ease-in-out;
}
.header i:hover {
  transform: scale(1.25);
  color: tomato;
}

.albumCover {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  user-select: none;
}
.albumImg {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.albumTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  user-select: none;
}
@keyframes heartPop {
  from {
    color: white;
  }
  to {
    color: tomato;
  }
}
.albumTitleLike {
  animation: heartPop 0.9s ease-in-out infinite;
}
.albumTitle i {
  color: white;
  margin-bottom: 6px;
  font-size: 16px;
}
.albumTitle i:hover {
  transform: scale(1.25);
  color: tomato;
}
.albumTitleSong {
  font-size: 16px;
  margin: 0px;
}
.albumTitleArtist {
  opacity: 0.5;
  font-size: 12px;
  margin: 3px;
}
.timer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  user-select: none;
}
.seek {
  width: 100%;
  height: 5px;
  background-color: white;
  margin-bottom: 15px;
}
.fillBar {
  width: 0;
  height: 5px;
  background: tomato;
}

.playBtns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}
.playBtns i {
  color: gold;
  transition: all 0.1s ease-in-out;
}
.playBtns i:hover {
  transform: scale(1.25);
  color: tomato;
}
.hide {
  display: none;
}
.songVolume,
.muteVolume {
  position: absolute;
  bottom: 110px;
  right: 22px;
  color: white;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}
.muteVolume {
  font-size: 18px;
  opacity: 0.6;
}
.songVolume:hover,
.muteVolume:hover {
  transform: scale(1.2);
  color: crimson;
}
.volumeRange {
  transform: rotate(270deg);
  position: absolute;
  left: 212px;
  bottom: 177px;
  margin: 0;
  width: 100px;
  height: 3px;
}
